#{extends 'admin.html' /}
 
#{ifnot post?.id}
    <h3>&{'views.AdminController.form.Write'}, <span>&{'views.AdminController.form.a_new_post'}</span></h3>
#{/ifnot}
#{else}
    <h3>&{'views.AdminController.form.Edit'}, <span>&{'views.AdminController.form.this_post'}</span></h3>
#{/else}
 
#{form @save(post?.id)}
    #{ifErrors}
        <p class="error">
            &{'views.AdminController.form.error.correct'}
        </p>
    #{/ifErrors}
     
    <p>
        #{field 'title'}
	        <label>&{'views.AdminController.form.Post_title'}:</label>
	        <input #{ifError 'post.title'}class="hasError"#{/ifError} type="text" name="${field.name}" value="${post?.title}" />
        #{/field}
    </p>
 
    <p>
        #{field 'content'}
        <label>&{'Write'} &{'here'}:</label>
        #{if post?.id}
	        <textarea #{ifError 'post.content'}class="hasError"#{/ifError} name="${field.name}">${post?.content}</textarea>
        #{/if}
        #{else}
        	<textarea #{ifError 'post.content'}class="hasError"#{/ifError} name="${field.name}"></textarea>
        #{/else}
        #{/field}
    </p>
 
    <p>
        #{field 'tags'}
        <label>&{'Enter'} &{'some'} tags:</label>
        <input type="text" size="50" 
            name="${field.name}" value="${post?.tags?.sort()?.join(' ')}" />
        #{/field}
    </p>
    
    <p class="crudButtons">
        <input type="submit" value="&{'views.AdminController.form.publishPost'}" />
    </p>
    
#{/form}