<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equip="Content-Type" content="text/html" charset="charset=utf-8" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}"/>
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}"></script>
    	<script src="@{'/public/javascripts/jquery.tools-1.2.5.toolbox.expose.min.js'}"></script>
    </head>
    <body>
    	<div id="header">
    		<div id="logo">
    			Yabe.
    		</div>
    		<ul id="tools">
    			<li>
    				<a href="@{AdminController.index()}">&{'views.main.tools.login'}</a>
    			</li>
    		</ul>
    		<div id="title">
    			<span class="about"> &{'About.this.blog'}</span>
    			<h1><a href="@{ApplicationController.index()}">&{'blog.title'}</a></h1>
    			<h2>&{'blog.baseline'}</h2>
    		</div>
    	</div>
    	<div id="main">
        	#{doLayout /}
        </div>
        <p>
        	&{'yabe.engine'}
        	<a href="https://www.playframework.com"> &{'yabe.framework'}</a>
        	&{'yabe.tutorial'}
        </p>
    </body>
</html>
