#{extends 'admin.html' /}
 
#{ifnot post?.id}
    <h3>&{'Write'}, <span>&{'ANewPost'}</span></h3>
#{/ifnot}
#{else}
    <h3>&{'Edit'}, <span>&{'ThisPost'}</span></h3>
#{/else}
 
#{form @save(post?.id)}
 
    #{ifErrors}
        <p class="error">
            &{'crud.hasErrors'}.
        </p>
    #{/ifErrors}
     
    <p>
        #{field 'title'}
        <label>&{'PostTitle'}:</label>
        <input type="text" name="${field.name}" 
            value="${post?.title}"  #{ifError 'post.title'}class="hasError"#{/ifError}/>
        #{ifError field.name}
        	<span class="error">#{error 'post.title' /}</span>
        #{/ifError}
        #{/field}
    </p>
 
    <p>
        #{field 'content'}
        <label>&{'WriteHere'}:</label>
        <textarea name="${field.name}" #{ifError 'post.content'}class="hasError"#{/ifError}>${post?.content}</textarea>
        #{ifError field.name}
        	<span class="error">#{error 'post.title' /}</span>
        #{/ifError}
        #{/field}
    </p>
 
    <p>
        #{field 'tags'}
        <label>&{'EnterSomeTags'}:</label>
        <input type="text" size="50" 
            name="${field.name}" value="${post?.tags?.sort()?.join(' ')}" />
        #{/field}
    </p>
    <p class="crudButtons">
        <input class="submitButton" type="submit" value="&{'PublishThisPostToTheBlog'}" />
    </p>
    
#{/form}