<!DOCTYPE html>
<html>
    <head>
        <title>Administration</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        #{get 'moreStyles' /}	
        <link rel="stylesheet" type="text/css" media="screen" 
                href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" 
                href="@{'/public/images/favicon.png'}" />
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}"></script>
        <script src="@{'/public/javascripts/jquery.tools-1.2.5.toolbox.expose.min.js'}"></script>
    </head>
    <body id="admin">
        
        <div id="header">
            <div id="logo">
                yabe. <span>administration</span>
            </div>
            <ul id="tools">
                <li>
                    <a href="@{Secure.logout()}">&{'LogOut'}</a>
                </li>
            </ul>
        </div>
        
		<div id="main">
		    <ul id="adminMenu">
		        <li class="${request.controller == 'AdminController' ? 'selected' : ''}">
		            <a href="@{index()}">&{'MyPosts'}</a>
		        </li>
		        #{secure.check 'admin'}
		            <li class="${request.controller == 'PostsController' ? 'selected' : ''}">
		                <a href="@{PostsController.list()}">&{'Posts'}</a>
		            </li>
		            <li class="${request.controller == 'TagsController' ? 'selected' : ''}">
		                <a href="@{TagsController.list()}">&{'Tags'}</a>
		            </li>
		            <li class="${request.controller == 'CommentsController' ? 'selected' : ''}">
		                <a href="@{CommentsController.list()}">&{'Comments'}</a>
		            </li>
		            <li class="${request.controller == 'UsersController' ? 'selected' : ''}">
		                <a href="@{UsersController.list()}">&{'Users'}</a>
		            </li>
		        #{/secure.check}
		       		<div id="internalization">
		       			<img class="language" src="../../public/images/icn-flag-ptBR.ico"> 
		        		<a class="langLink" href="@{AdminController.selectlanguage('pt', request.path)}" style="background:none; color: black; padding: 0px;">Português</a>
						<img class="language" src="../../public/images/icn-flag-en.ico">
						<a class="langLink" href="@{AdminController.selectlanguage('en', request.path)}" style="background:none; color: black; padding: 0px;">English</a>
		       		</div> 	
		        
		    </ul>
		    
		    #{doLayout /} 
		</div>
        
        <p id="footer">
        	&{'footerMessage1'}
            <a href="https://www.playframework.com">Play framework</a>
            &{'footerMessage2'}
        </p>
        
    </body>
</html>