<!DOCTYPE html>
<html>
    <head>
        <title>&{'views.admin.administration'}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        #{get 'moreStyles' /}	
        <link rel="stylesheet" type="text/css" media="screen" 
                href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" 
                href="@{'/public/images/favicon.png'}" />
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}"></script>
        <script src="@{'/public/javascripts/jquery.tools-1.2.5.toolbox.expose.min.js'}"></script>
    </head>
    <body id="admin">
        
        <div id="header">
            <div id="logo">
                yabe. <span>&{'views.admin.header.logo.administration'}</span>
            </div>
            <ul id="tools">
                <li>
                    <a href="@{Secure.logout()}">&{'views.admin.header.tools.logout'}</a>
                </li>
            </ul>
        </div>
        
        <div id="main">
		    <ul id="adminMenu">
		        <li class="${request.controller == 'AdminController' ? 'selected' : ''}">
		            <a href="@{AdminController.index()}">&{'My_posts'}</a>
		        </li>
		        #{secure.check 'admin'}
		            <li class="${request.controller == 'PostsController' ? 'selected' : ''}">
		                <a href="@{PostsController.list()}">&{'Posts'}</a>
		            </li>
		            <li class="${request.controller == 'TagsController' ? 'selected' : ''}">
		                <a href="@{TagsController.list()}">Tags</a>
		            </li>
		            <li class="${request.controller == 'CommentsController' ? 'selected' : ''}">
		                <a href="@{CommentsController.list()}">&{'Comments'}</a>
		            </li>
		            <li class="${request.controller == 'UsersController' ? 'selected' : ''}">
		                <a href="@{UsersController.list()}">&{'Users'}</a>
		            </li>
		        #{/secure.check}
		    </ul>
		    
		    <div id="languages">
			    <a href="@{AdminController.setLanguage('pt', request.path)}" style="color:'black';"><img class="langImg" alt="flag-ptBR" height="25" width="25" src="/./public/images/icn-flag-ptBR.ico"> Português</a>
			    <a href="@{AdminController.setLanguage('en', request.path)}" style="color:'black';"><img class="langImg" alt="flag-en" height="25" width="25" src="/./public/images/icn-flag-en.ico"> English</a>
			</div>
		    
		    #{doLayout /} 
		</div>

        
        <p id="footer">
            &{'views.admin.footer1'} <a href="https://www.playframework.com">framework Play</a> &{'views.admin.footer2'}
        </p>
        
    </body>
</html>